extends template

block content
  h1 fuck
  div(class="col-md-10")
    h1(class="page-header") IP
  div(class="col-md-10")
    h2(class="sub-header") table
    label 'fill in filtering condition, hit filter to trigger query'
